{
  "arrowParens": "avoid",
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "bracketSpacing": false,
  "bracketSameLine": false,
  "jsxSingleQuote": false,
  "vueIndentScriptAndStyle": false
}
